<?xml version="1.0"?>
<config>
    <default>
        <auth>
            <secret>
                Phaebah0
            </secret>
        </auth>
    </default>
    <modules>
        <Divante_VueStorefrontBridge>
            <version>1.0.5</version>
        </Divante_VueStorefrontBridge>
    </modules>
    <frontend>
        <routers>
            <vsbridge>
                <use>standard</use>
                <args>
                    <module>Divante_VueStorefrontBridge</module>
                    <frontName>vsbridge</frontName>
                </args>
            </vsbridge>
        </routers>
    </frontend>    
    <global>
        <helpers>
            <vuestorefrontbridge>
                <class>Divante_VueStorefrontBridge_Helper</class>
            </vuestorefrontbridge>
        </helpers>
    </global>
    <frontend>
      <translate>
          <modules>
             <Divante_VueStorefrontBridge>
                 <files>
                     <default>Divante_VueStorefrontBridge.csv</default>
                 </files>
             </Divante_VueStorefrontBridge>
         </modules>
      </translate>
   </frontend>
</config>
